@model In9Manager.Models.Orcamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orcamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataValidade" class="control-label"></label>
                <input asp-for="DataValidade" class="form-control" />
                <span asp-validation-for="DataValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaVeiculo" class="control-label"></label>
                <input asp-for="PlacaVeiculo" class="form-control" />
                <span asp-validation-for="PlacaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desconto" class="control-label"></label>
                <input asp-for="Desconto" class="form-control" />
                <span asp-validation-for="Desconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorFinal" class="control-label"></label>
                <input asp-for="ValorFinal" class="form-control" />
                <span asp-validation-for="ValorFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <input asp-for="FormaPagamento" class="form-control" />
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroParcelas" class="control-label"></label>
                <input asp-for="NumeroParcelas" class="form-control" />
                <span asp-validation-for="NumeroParcelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
