@model In9Manager.Models.Servico

@{
    ViewData["Title"] = "Cadastrar";
    IList<object> list = new List<object>();
    foreach (var item in (Enum.GetValues(typeof(TipoMaodeObra))) ){
        list.Add(new
        {
            Id = (int)item,
            Nome = item
        });
    }
    SelectList tipo = new SelectList(list, "Id", "Nome");
    
}

<h1>Novo</h1>

<h4>Serviço</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TipoMaoDeObra" class="control-label"></label>
                <select asp-for="TipoMaoDeObra" asp-items="tipo" class="form-select"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Valor" class="control-label"></label>
                <input name="preco" class="form-control" id="preco" value="@TempData["Preco"]"/>
            </div>
            <div class="mb-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#preco').maskMoney({
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                allowZero: true,
                allowNegative: false
            });
        });
    </script>
}
