@model In9Manager.Models.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Cadastrar";
    SelectList tipos = new SelectList(Enum.GetValues(typeof(TipoLogradouro)));
    SelectList estados = new SelectList(Enum.GetValues(typeof(Estados)));
    SelectList sexo = new SelectList(Enum.GetValues(typeof(Sexo)));
}

<h1>Cadastrar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md">
            <div class="row">
                <div class="col-md-6">
                    <h5>Dados Pessoais</h5>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Cliente.Nome" class="form-label"></label>
                        <input asp-for="Cliente.Nome" class="form-control" />
                        <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Cliente.CPF" class="form-label"></label>
                        <input asp-for="Cliente.CPF" class="form-control" id="cpf"/>
                        <span asp-validation-for="Cliente.CPF" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Cliente.Telefone" class="form-label"></label>
                        <input asp-for="Cliente.Telefone" class="form-control" id="telefone" />
                        <span asp-validation-for="Cliente.Telefone" class="text-danger" ></span>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label asp-for="Cliente.DataNascimento" class="form-label"></label>
                                <input name="dataNascimento" class="form-control" id="data" value="@TempData["data"]"/>
                                <span asp-validation-for="Cliente.DataNascimento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Cliente.Sexo" class="form-label"></label>
                                <select asp-for="Cliente.Sexo" asp-items="sexo" class="form-select"></select>
                                <span asp-validation-for="Cliente.Sexo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Cliente.Email" class="form-label"></label>
                        <input asp-for="Cliente.Email" class="form-control" />
                        <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>Dados de Endereço</h5>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="mb-3">
                                <label asp-for="ClienteEndereco.Logradouro" class="form-label"></label>
                                <input asp-for="ClienteEndereco.Logradouro" class="form-control" />
                                <span asp-validation-for="ClienteEndereco.Logradouro" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.ClienteEndereco.TipoLogradouro)
                                <select class="form-select" asp-for="ClienteEndereco.TipoLogradouro" asp-items="tipos"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.ClienteEndereco.NumeroLogradouro)
                                <input type="number" class="form-control" asp-for="ClienteEndereco.NumeroLogradouro"/>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ClienteEndereco.Bairro" class="form-label"></label>
                        <input asp-for="ClienteEndereco.Bairro" class="form-control" />
                        <span asp-validation-for="ClienteEndereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label asp-for="ClienteEndereco.Cidade" class="form-label"></label>
                                <input asp-for="ClienteEndereco.Cidade" class="form-control" />
                                <span asp-validation-for="ClienteEndereco.Cidade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="ClienteEndereco.Estado" class="form-label"></label>
                                <select class="form-select" asp-for="ClienteEndereco.Estado" asp-items="estados"></select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ClienteEndereco.Cep" class="form-label"></label>
                        <input asp-for="ClienteEndereco.Cep" class="form-control" id="cep"/>
                        <span asp-validation-for="ClienteEndereco.Cep" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ClienteEndereco.Complemento" class="form-label"></label>
                        <input asp-for="ClienteEndereco.Complemento" class="form-control" />
                        <span asp-validation-for="ClienteEndereco.Complemento" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mb-3">
                <input type="submit" value="Cadastrar" class="btn btn-lg btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cpf').inputmask({ 
                mask: ['999.999.999-99'],
                keepStatic: true
            });
        });
        $(document).ready(function () {
            $('#telefone').inputmask({
                mask: ['(99)9999-9999', '(99)99999-9999'],
                keepStatic: true
            });
        });
        $(document).ready(function () {
            $('#cep').inputmask({
                mask: ['99999-999'],
                keepStatic: true
            });
        });
        $(document).ready(function () {
            $('#data').inputmask({
                mask: ['99/99/9999'],
                keepStatic: true
            });
        });
    </script>
}
