@model In9Manager.Models.Veiculo

@{
    ViewData["Title"] = "Cadastrar";
    SelectList categorias = new SelectList(Enum.GetValues(typeof(VeiculoCategoria)));
}

<h1>Cadastrar</h1>

<h4>Veículo</h4>
<hr />


<div class="row">
    <form asp-action="Create">
        <component type="typeof(In9Manager.Views.Shared.Components.ClientesTable)" render-mode="ServerPrerendered"/>
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md">
                    <div class="mb-3">
                        <label asp-for="Placa" class="control-label"></label>
                        <input asp-for="Placa" class="form-control" />
                        <span asp-validation-for="Placa" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="mb-3">
                        <label asp-for="Categoria" class="control-label"></label>
                        <select asp-for="Categoria" asp-items="categorias" class="form-select"></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Ano" class="control-label"></label>
                        <input asp-for="Ano" class="form-control" />
                        <span asp-validation-for="Ano" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="mb-3">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
